.navbar {
  background-color: #eb6d1f;
  min-height: 70px;
  position: fixed;
  width: 99%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fff;
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
  z-index: 99;
  white-space: nowrap;
  position: absolute;
  font-family: sans-serif;
}

.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline-block;
  padding: 26px 0;
  width: 33.3%;
  text-align: center;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-family: "Racing Sans One", cursive;
  color: #002c61;
}
@media (max-width: 420px) {
  .navbar li:first-child {
    width: 25%;
  }
  .navbar li:nth-child(2) {
    width: 35%;
  }
  .navbar li:last-child {
    width: 40%;
  }
}

.navbar li:first-child {
  font-size: calc(16px + 14 * (100vw - 320px) / 800);
}

.navbar .correct {
  -webkit-animation: 0.4s correct;
  animation: 0.4s correct infinite;
}
.navbar .incorrect {
  -webkit-animation: 0.4s incorrect;
  animation: 0.4s incorrect;
}
@-webkit-keyframes correct {
  0% {
    color: #fff;
  }
  50% {
    color: #227fd6;
  }
  to {
    color: #fff;
  }
}
@keyframes correct {
  0% {
    color: #fff;
  }
  50% {
    color: #227fd6;
  }
  to {
    color: #fff;
  }
}
@-webkit-keyframes incorrect {
  0% {
    color: #fff;
  }
  50% {
    color: #c62828;
  }
  to {
    color: #fff;
  }
}
@keyframes incorrect {
  0% {
    color: #fff;
  }
  50% {
    color: #c62828;
  }
  to {
    color: #fff;
  }
}
